# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code files
.vscode
.vs

# PyCharm files
.idea

# Eclipse Project settings
*.*project
.settings

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Editor temporaries
*.swn
*.swo
*.swp
*.swm
*~

# IPython notebook checkpoints
.ipynb_checkpoints

# macOS dir files
.DS_Store

exp
data
raw_wav
tensorboard
**/*build*

# Clangd files
.cache
compile_commands.json

# train/inference files
*.wav
*.m4a
*.aac
*.pt
pretrained_models/*
*_pb2_grpc.py
*_pb2.py
*.tar

# 
runtime/triton_trtllm/Fun-CosyVoice3-0.5B-2512
runtime/triton_trtllm/hf_cosyvoice3_llm
runtime/triton_trtllm/trt_engines_bfloat16
runtime/triton_trtllm/trt_weights_bfloat16
runtime/triton_trtllm/model_repo_cosyvoice3_copy
runtime/triton_trtllm/model.cache
runtime/triton_trtllm/cosyvoice3_wenetspeech4tts_trtllm_llm_batch_size_*
runtime/triton_trtllm/model_repo_cosyvoice3_change_params_panxb
runtime/triton_trtllm/client_http_panxb.py
runtime/triton_trtllm/run_cosyvoice3_panxb.sh